{
  "openapi": "3.0.3",
  "info": {
    "title": "ForgeMesh Labs Discovery",
    "version": "1.0.0",
    "description": "Machine-readable discovery surface for ForgeMesh Labs MCP packages, OpenClaw skills, x402-paid APIs, affiliate routing, and commercial intelligence services."
  },
  "servers": [
    {
      "url": "https://forgemesh.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/index.json": {
      "get": {
        "summary": "Get the ForgeMesh project and hosted API registry",
        "responses": {
          "200": {
            "description": "Project registry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Get an LLM-readable ForgeMesh overview",
        "responses": {
          "200": {
            "description": "Plain-text service overview",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "Get the ForgeMesh sitemap",
        "responses": {
          "200": {
            "description": "XML sitemap",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/clawvoice": {
      "get": {
        "summary": "Get the ClawVoice OpenClaw voice skill product page",
        "description": "Public product page for ClawVoice x402, the ForgeMesh Labs OpenClaw skill for spoken agent replies, push-to-talk input, local or hosted voice, configurable voice options, and local Base USDC x402 wallet controls.",
        "tags": [
          "OpenClaw",
          "ClawVoice",
          "x402",
          "voice"
        ],
        "responses": {
          "200": {
            "description": "HTML product page for ClawVoice x402",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-forgemesh": {
          "product": "ClawVoice x402",
          "website": "https://forgemesh.io/clawvoice",
          "github": "https://github.com/forgemeshlabs/clawvoice-x402",
          "clawhub": "https://clawhub.ai/forgemeshlabs/skills/clawvoice-x402",
          "hosted_voice_surface": "https://voice.forgemesh.io",
          "current_version": "0.3.18",
          "use_cases": [
            "OpenClaw spoken replies",
            "push-to-talk agent input",
            "hosted x402 voice fallback",
            "local voice setup",
            "Base USDC agent wallet controls"
          ]
        }
      }
    },
    "/proxy": {
      "get": {
        "summary": "Get the x402 Proxy product page",
        "description": "Public product page for x402 Proxy, the ForgeMesh Labs self-serve paywall platform. Creators verify a domain they control, wrap any URL with an x402 USDC paywall on Base mainnet, and are paid per agent request. Payments settle non-custodially to a per-creator on-chain 0xSplits contract (85% creator / 15% platform); ForgeMesh never holds creator earnings. Live app: https://proxy.forgemesh.io",
        "tags": [
          "x402",
          "paywall",
          "agent commerce",
          "USDC",
          "Base",
          "non-custodial"
        ],
        "responses": {
          "200": {
            "description": "HTML product page for x402 Proxy",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
